::selection {
  color: white;
  background: hsl(193, 47%, 43%);
}

html {
  background-color: rgb(240, 240, 240);
  background-image: url('/images/patterns/margin.png');
  font-size: 16px;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: rgb(245, 245, 245);
  min-width: 1050px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

body a {
  color: hsl(193, 47%, 43%);
  text-decoration: none;
}

body > header {
  min-height: 200px;
  position: relative;
}

body > header #hanger {
  position: absolute;
  bottom: 120px;
  right: 0;
  width: 260px;
  height: 260px;
  overflow: hidden;
}

body > header #hanger a {
  position: absolute;
  top: 140px;
  left: -60px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: white;
  padding: 9px 0 7px;
  display: block;
  transform: rotate(-45deg);
  text-align: center;
  width: 400px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from { background-color: #ed9839; box-shadow: 0 0 9px #333; }
  50% { background-color: #F5B356; box-shadow: 0 0 18px #F5B356; }
  to { background-color: #ed9839; box-shadow: 0 0 9px #333; }
}

body > header #hanger2 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 260px;
  height: 260px;
  overflow: hidden;
}

body > header #hanger2 a {
  position: absolute;
  top: 110px;
  left: -90px;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: white;
  padding: 9px 0 7px;
  display: block;
  transform: rotate(-45deg);
  text-align: center;
  width: 400px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* Radiotopia splash */
body > header > hgroup h1 {
  widows: 1280px;
  height: 320px;
  margin: 0;
  border: 0;
  padding: 0;
}
/* Radiotopia splash */
body > header > hgroup.kickstarter h1 {
  widows: 1280px;
  height: 380px;
  margin: 0;
  border: 0;
  padding: 0;
}

body > header > hgroup h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/radiotopia/splash-2016.jpg') no-repeat center top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

body > header > hgroup.kickstarter h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background: url('/images/radiotopia/radiotopia-ks-splash.jpg') no-repeat center top;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@media  only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
  body > header > hgroup h1 a {
    background-image: url('/images/radiotopia/splash-2016@2x.jpg');
    background-size: 1280px 380px;
  }
}

/* PRX top cap */
body > header > hgroup h2 {
  height: 40px;
  margin: 0;
  border: 0;
  padding: 0;
}

body > header > hgroup h2 a {
  height: 100%;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('/images/prx/topcap.png');
  background-size: 72px 25px;
  background-repeat: no-repeat;
  background-position: center 8px;
}

body > header > nav {
  height: 120px;
  background: white;
  width: 1028px;
  margin: 0 auto;
}

body > header > nav a {
  display: inline-block;
  margin: 0 10px;
  width: 140px;
  text-decoration: none;
}

body > header > nav a[href='#shows'],
body > header > nav a.listen {
  background-image: url('/images/icons/heart@2x.png');
  background-repeat: no-repeat;
  background-size: 35px 41px;
  background-position: 28px 38px;
  padding-bottom: 15px;
  padding-left: 40px;
}

body > header > nav a[href='#about'],
body > header > nav a[href='#news'] {
  background-image: url('/images/icons/tower@2x.png');
  background-repeat: no-repeat;
  background-size: 28px 50px;
  background-position: 32px 30px;
  padding-bottom: 15px;
  padding-left: 40px;
}

body > header > nav a[href='#sponsor'] {
  background-image: url('/images/icons/bulb@2x.png');
  background-repeat: no-repeat;
  background-size: 40px 56px;
  background-position: 14px 26px;
  padding-bottom: 15px;
  padding-left: 50px;
}

body > header > nav a.shop {
  background-image: url('/images/icons/cart@2x.png');
  background-repeat: no-repeat;
  background-position: 14px 26px;
  padding-bottom: 15px;
  padding-left: 40px;
}

body > header > nav a[href='#donate'] {
  background-image: url('/images/icons/money@2x.png');
  background-repeat: no-repeat;
  background-size: 13px 42px;
  background-position: 40px 36px;
  padding-bottom: 15px;
  padding-left: 40px;
}

body > header > nav a.commitchange-donate {
  background-image: url('/images/icons/money@2x.png');
  background-repeat: no-repeat;
  background-size: 13px 42px;
  background-position: 40px 36px;
  padding-bottom: 15px;
  padding-left: 40px;
  overflow: initial; /* needed for Chrome and Firefox to offset Commit Change CSS */
}

@font-face { font-family: 'HelveticaNCB'; font-weight: bold; src: local(HelveticaNeue-CondensedBold); }

body > header > nav a h1 {
  color: hsl(193, 47%, 43%);
  font-family: 'HelveticaNeue-CondensedBold', 'HelveticaNCB', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 44px 0 0 0;
  letter-spacing: 0.15em;
  border: 0;
  padding: 0;
}

body > header > nav a h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75em;
  color: hsl(0,0%,30%);
  margin: 0;
  border: 0;
  padding: 0;
}

body > div {
  min-height: 200px;
}

body > footer {
  background: white;
  min-height: 200px;
}

body > footer > div {
  width: 1028px;
  margin: 0 auto;
}

body > footer section {
  display: block;
  float: left;
  width: 180px;
  overflow: auto;
}

body > footer a {
  color: hsla(215,40%,19%,1);
  text-decoration: none;
}

#underwriters {
  width: 668px;
}

#underwriters ul {
  list-style: none;
  margin: 0 0 0 20px;
  border: 0;
  padding: 0;
}

#underwriters ul li {
  display: block;
  float: left;
}

#underwriters ul li img {
  padding: 10px;
}

#underwriters ul li:first-child img {
  padding-top: 27px;
}

#underwriters ul li img[src='/images/knight/underwriter.png'] {
  padding-top: 18px;
}

#underwriters ul li img[src='/images/mailchimp/underwriter@2x.png'] {
  padding-top: 18px;
}

#underwriters ul li img[src='/images/adzerk/underwriter@2x.png'] {
  padding-top: 18px;
}

#underwriters ul li img[src='/images/spotify/underwriter.png'] {
  padding-top: 10px;
}

#connect a {
  display: inline-block;
  width: 32px;
  height: 23px;
  background: hsl(193, 47%, 43%);
  border-radius: 16px;
  text-align: center;
  color: white;
  padding-top: 9px;
  transition: color 0.25s ease, background 0.15s ease;
}

#connect a:hover {
  color: hsl(193, 47%, 43%);
  background: white;
}

#connect a:nth-of-type(1) {
  margin: 0 0 10px 20px;
}

#connect .soundcloud {

}

#contact p {
  font-size: 0.8em;
  margin: 0 0 3px 20px;
}

body > footer section h1 {
  text-transform: uppercase;
  font-size: 0.875em;
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 30px 0 16px 20px;
}

/* Forms */

body > div > form {
  width: 988px;
  margin: 36px auto 20px;
}

body > div > form h1 {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: 0;
}

body > div > form h2 {
  font-family: 'HelveticaNeue-CondensedBold', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.875em;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0 0 0;
  padding: 0;
  border: 0;
}

body > div > form hr {
  margin: 24px 0;
}

body > div > form p {
  width: 820px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.125em;
  line-height: 1.5em;
}

/* Show cards */

#shows {
  overflow: auto;
  margin: 0 auto;
  border: 0;
  padding: 0;
  list-style: none;
  width: 1048px;
}

#shows li {
  width: 504px;
  height: 289px;
  position: relative;
  background: white;
  float: left;
  margin: 20px 10px;
}

#shows li > img {
  display: block;
  float: left;
  width: 168px;
  height: 168px;
  margin: 30px 0 0 0;
}

#shows li > a {
  display: block;
  float: left;
  width: 300px;
  color: hsl(193, 47%, 43%);
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.75em;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  margin: 30px 0 0 18px;
}

#shows li a.rss, #shows li a.itunes {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  background-image: url('/images/buttons/rss.png');
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  opacity: 0.4;
  transition: opacity 0.2s ease;
}

#shows li a.rss:hover, #shows li a.itunes:hover {
  opacity: 1;
}

#shows li a.itunes {
  right: 40px;
  background-image: url('/images/buttons/itunes.png');
}

#shows li > h1 {
  display: block;
  float: left;
  margin: 4px 0 0 18px;
  padding: 0;
  border: 0;
  width: 300px;
  font-size: 1.8em;
}

#shows li > p {
  display: block;
  float: left;
  margin: 6px 0 14px 18px;
  padding: 0;
  border: 0;
  width: 300px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.75em;
  line-height: 1.65em;
}

#shows li .prx-embed-proxy {
  width: 100%;
  height: 135px;
  background: hsla(0, 0%, 35%, 1.0);
  clear: both;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
}

/* Mini Player */

.player {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 0;
}

.player hgroup {
  clear: both;
  background: hsl(0, 0%, 96%);
  margin: 5px 5px 0;
  border: 0;
  padding: 0;
  overflow: auto;
}

.player hgroup > img {
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  margin: 8px 14px 8px 8px;
  z-index: 10;
  position: relative;
}

.player hgroup h1 {
  font-size: 1.0625em;
  font-weight: 600;
  color: hsl(189, 12%, 22%);
  margin: 10px 0 0 0;
  border: 0;
  padding: 0;
  z-index: 10;
  position: relative;
}

.player hgroup h2 {
  font-size: 0.8em;
  font-weight: 600;
  color: hsl(189, 12%, 22%);
  margin: 0;
  border: 0;
  padding: 0;
  z-index: 10;
  position: relative;
}

.player hgroup button {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
  float: right;
  display: block;
  height: 65px;
  outline: none;
  z-index: 20;
  position: relative;
}

.player hgroup button img {
  transition: width 0.05s ease, margin 0.05s ease;
  z-index: 10;
  position: relative;
}

.player hgroup button:hover img {
  width: 58px;
  margin: 4px 4px 0 0;
}

.player.paused .player-pause {
  display: none;
}

.player.playing .player-play {
  display: none;
}

.player .progress {
  background: #ccc;
  position: absolute;
  top: 218px;
  left: 5px;
  height: 65px;
  width: 0%;
  z-index: 2;
}

#sponsor {
  margin: 60px 0 130px;
}

/* CSS text over image overlay */
.pic {
  float: left;
  margin: 30px 0 0 0;
  display: inline-block;
  width:168px;
  height:168px;
  background: url(/images/memorypalace/cover.png) no-repeat;
}

.text {
  width:468px;
  height:168px;
  background:#FFF;
  opacity:0;
}

.pic:hover .text {
  opacity:0.8;
  text-align:none;
  color:#000000;
  font-size:14px;
  /* font-weight:700; */
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  padding:30px;
}
