// tweak: { "type" : "color", "title" : "Footer Nav Header Color", "label" : "Footer Nav Header Color", "category" : "Footer", "target" : "#footer, #secondaryNavigation", "showOnlyWhenPresent" : "#secondaryNavigation" }
@footerNavHeaderColor: #FFF;

// tweak: { "type" : "font", "title" : "Footer Nav Header Font", "label" : "Footer Nav Header Font", "category" : "Footer", "target" : "#footer, #secondaryNavigation", "showOnlyWhenPresent" : "#secondaryNavigation" }
.footer-nav-header-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2em;
}

// tweak: { "type" : "color", "title" : "Footer Nav Link (Hover)", "label" : "Footer Nav Link (Hover)", "category" : "Footer", "target" : "#footer, #secondaryNavigation", "showOnlyWhenPresent" : "#secondaryNavigation" }
@footerNavHoverColor: #FFF;

// tweak: { "type" : "font", "title" : "Footer Copy Font", "label" : "Footer Copy Font", "category" : "Footer", "target" : "#footer", "showOnlyWhenPresent" : "#footer" }
.footer-copy-font {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2em;
}

#footer {
  --basis: auto;

  display: flex;
  gap: 10px 30px;
  margin: 0 auto 80px;
  max-width: 1000px;
  padding: 0 40px;

  > section {
    .footer-copy-font;

    flex-grow: 1;
    flex-basis: 450px;
    padding-right: 100px;

    p {
      margin-bottom: 0;
      max-width: 322px;
    }
  }
}

#secondaryNavigation {
  // This is intended to style the custom footer nav found in
  // blocks/secondary-navigation-prx.block

  display: flex;

    li {
      // The first list item of each list in the nav is a header that comes
      // from the name of the folder
      &:first-child {
        .footer-nav-header-font;

        color: @footerNavHeaderColor;
      }

      // All other list items are the links found in folders
      a {
        .footer-nav-font;

        color: @footerNavLinkColor;
        display: block;

        &:hover { color: @footerNavHoverColor; }
        &:active { color: @footerNavActiveColor; }
      }
    }
}
