#siteWrapper.about {
  .banner-thumbnail-wrapper {
    padding: 0;

    #thumbnail {
      position: static;

      img {
        display: block;
        width: 100%;
      }
    }

    .color-overlay {
      display: none;
    }
  }

  #page {
    background: url("/assets/radiotopia-stars-bg.png") transparent no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
    max-width: none !important;
    padding: 35px 0 !important;

    @media @tablet-desktop {
      padding: 70px 0 !important;
    }

    &>.inner {
      margin: 0 auto;
      width: 80% !important;

      @media @tablet-desktop {
        width: 90% !important;
      }
    }
  }

  .intro {
    margin-bottom: 0.375em;

    @media @tablet-desktop {
      margin-bottom: 0.625em;
    }
  }

  .about-logo {
    width: 75%;
    max-width: 450px;
    margin: 0 auto 1em;

    @media @tablet-desktop {
      margin: 0 auto 4em;
      width: 50%;
    }
  }

  .about-description {
    margin: auto;
    text-align: center;

    @media @tablet-desktop {
      width: 80%;
    }

    p {
      font-size: 1.125em;
      line-height: initial;
      margin: 0 0 1em;

      @media @tablet-desktop {
        font-size: 1.334em;
        line-height: 1.365em;
        margin: 0 0 2em;
      }
    }

    a,
    a:active,
    a:link,
    a:visited {
      color: @light_blue !important;

      &:hover {
        color: @white !important;
      }
    }
  }

  .intro-footer {

    @media @tablet-desktop {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .intro-social-icons {
    text-align: center;

    @media @tablet-desktop {
      margin-right: 2em;
    }

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      .clearfix();

      li {
        float: left;
        list-style: none;
        margin-right: 0.5em;

        &:last-child {
          margin-right: 0;
        }

        &>a {
          display: inline-block;
          text-indent: -999em;
          height: 44px;
          width: 44px;

          &.facebook {
            background: url("/assets/facebook-circle.png") transparent no-repeat center center;
            background-size: 44px;
          }

          &.twitter {
            background: url("/assets/twitter-circle.png") transparent no-repeat center center;
            background-size: 44px;
          }

          &.instagram {
            background: url("/assets/instagram-circle.png") transparent no-repeat center center;
            background-size: 44px;
          }
        }
      }
    }
  }

  .intro-media-kit {
    text-align: center;

    a,
    a:active,
    a:link,
    a:visited {
      background: url("/assets/download-arrow.png") transparent no-repeat center left;
      background-size: 17px;
      color: @light_blue !important;
      font-size: .778em;
      font-weight: 700;
      height: 19px;
      padding-left: 27px;
      text-transform: uppercase;
      width: 17px;

      &:hover {
        color: @white !important;
      }
    }
  }

  .our-team {
    margin-bottom: 2.25em;
    padding-top: 5em;
    position: relative;

    @media @tablet-desktop {
      margin-bottom: 4.75em;
      padding-top: 10em;
    }

    &::before {
      background: url("/assets/orange-bolt.png") transparent no-repeat center center;
      background-size: 80px;
      content: "";
      height: 17px;
      left: 50%;
      margin-left: -40px;
      position: absolute;
      top: 2em;
      width: 80px;

      @media @tablet-desktop {
        top: 4.25em;
      }
    }

    .section-title {
      margin-bottom: 1em;

      @media @tablet-desktop {
        margin-bottom: 2.5em;
      }

      h1 {
        font-size: 2em;
        font-weight: 500;
        text-align: center;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      padding: 0;
      justify-content: space-around;

      @media @tablet {
        width: 75%;
      }

      @media @desktop {
        justify-content: space-between;
        width: 85%;
      }
    }

    .item {
      list-style: none;
      margin-bottom: 2em;
      width: 40%;


      @media @desktop {
        width: 20%;
      }

      .image {
        max-width: 160px;
        margin: 0 auto 0.75em;
        width: 100%;

        @media @tablet-desktop {
          margin-bottom: 1em;
        }

        .sqs-block {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      h1 {
        font-size: .675em;
        font-weight: 700;
        line-height: initial;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media @tablet-desktop {
          font-size: .778em;
        }
      }

      p {
        color: @orange;
        font-size: .675em;
        font-family: "sofia-pro";
        font-weight: 700;
        line-height: initial;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media @tablet-desktop {
          font-size: .778em;
        }
      }

      .caption .sqs-block {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  .listen-apps {
    .section-title {
      margin-bottom: 1em;

      @media @tablet-desktop {
        margin-bottom: 2em;
      }

      h1 {
        font-size: 2em;
        font-weight: 500;
        text-align: center;
      }
    }

    .app-wrapper {
      background-color: rgba(255, 255, 255, 0.1);
      margin: 0 auto;
      width: 80%;

      .app-content  {
        padding: 1.25em 2.5em;

        @media @tablet-desktop {
          padding: 2.5em 5em;
        }
      }
    }
  }
}
