body.view-item #siteWrapper.general #page {
  background: @white;
  color: @blue;
  padding: 0 0 3em !important;

  @media @tablet-desktop {
    padding: 0 0 5em !important;
  }

  div.news-event-inner {
    margin: 0 auto;
    padding-top: 3em;

    @media @tablet {
      width: 80% !important;
    }

    @media @desktop {
      width: 65% !important;
    }

    .event-item {
      .event-item-header {
        width: 70%;
        position: absolute;
        top: 5%;

        .cal-icon {
          display: inline-block;
          background: url("/assets/calendar-icon.png") transparent no-repeat center center;
          background-size: 120px 128px;
          padding-top: 2em;
          height: 128px;
          width: 120px;

          @media @tablet {
            background-size: 90px 96px;
            padding-top: 1.5em;
            height: 96px;
            width: 90px;
          }
        }

        .event-month {
          font-size: 0.75em;
          font-weight: 700;
          line-height: initial;
          margin: 0;
          text-align: center;
          text-transform: uppercase;
          color: @white;

          @media @tablet {
            font-size: 0.735em;
            margin: 0;
            color: @white;
          }
        }

        .event-day {
          font-size: 2.875em;
          font-weight: 500;
          line-height: 1em;
          margin: -0.0625em 0 0 0;
          text-align: center;
          color: @white;

          @media @tablet {
            font-size: 2em;
            color: @white;
          }
        }

        .event-details {
          display: inline-block;
          time.event-start {
            text-align: left;
            color: @orange !important;
            font-family: 'roboto' !important;
            font-size: .625em !important;
            font-weight: 700 !important;
            font-style: normal !important;
          }

          .event-title {
            text-align: left;
            font-family: 'sofia-pro';
            font-size: 2em;
            font-weight: 500;
          }
        }
      }
    }

    .sqs-simple-like {
      color: @blue;
      font-weight: 400;
    }

    .squarespace-social-buttons {
      color: @light_blue;
      font-weight: 400;
    }

    a,
    a:active,
    a:link,
    a:active,
    a:hover {
      font-family: 'roboto';
      font-size: 1em;
      font-weight: 400;
      text-decoration: none;
      color: @light_blue !important;
    }
  }
}
