*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html { -webkit-font-smoothing: antialiased; }

body {
  background: transparent !important;
}

h1,
h2,
h3,
h4 {
  color: @white !important;
}

a,
a:active,
a:link {
  text-decoration: none;
  color: @white !important;
  .css3-transition(color, .325s);

  &:hover {
    color: @light_blue !important;
    .css3-transition(color, .325s);
  }
}

#siteWrapper {
  background-color: @blue !important;
  color: @white !important;
  position: relative;

  &.general {

    header {
      background: transparent !important;
    }

    .banner-thumbnail-wrapper {
      padding: 0;

      #thumbnail {
        position: static;

        img {
          display: block;
          position: static !important;
          width: 100%;
        }
      }

      .color-overlay {
        display: none;
      }
    }

    #page {
      background: url("/assets/radiotopia-stars-bg.png") transparent no-repeat top center;
      background-size: 100%;
      background-attachment: fixed;
      max-width: none !important;
      padding: 0 0 3em !important;

      @media @tablet-desktop {
        padding: 0 0 5em !important;
      }

      &>.inner {
        margin: 0 auto;
        padding-top: 3em;
        width: 80% !important;

        @media @tablet-desktop {
          width: 90% !important;
        }
      }
    }
  }

  .slick-slider {
    position: relative;

    @media @tablet-desktop {
      margin: 0 75px;
    }

    .slick-prev {
      background: url("/assets/arrow-prev.png") transparent no-repeat center center;
      border: none;
      height: 32px;
      left: -75px;
      margin-top: -25px;
      outline: none;
      position: absolute;
      text-indent: -999em;
      top: 50%;
      width: 32px;
    }

    .slick-next {
      background: url("/assets/arrow-next.png") transparent no-repeat center center;
      border: none;
      height: 32px;
      margin-top: -25px;
      outline: none;
      position: absolute;
      text-indent: -999em;
      text-indent: -999em;
      top: 50%;
      right: -75px;
      width: 32px;
    }
  }
}

header {
  margin: auto;
  padding: 0 !important;
  position: absolute !important;
  .gradient-background();

  .header-inner {
    margin: auto;
    padding: 20px 0 70px;
    width: 80% !important;

    @media @tablet-desktop {
      width: 90% !important;
    }
  }
}

.section-headline {
  font-size: 2em;
  font-weight: 500;
  line-height: initial;
  text-align: center;
}

#preFooter {
  display: none !important;
}

.modal-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  left: 0;
  padding: 0 5%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  @media @tablet-desktop {
    padding: 0;
  }

  .inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .donate-modal {
    position: relative;

    .close-modal {
      background: url("/assets/close-icon.png") #9a9a9a no-repeat center center;
      background-size: 12px;
      border-radius: 100px;
      height: 26px;
      top: 15px;
      right: 10px;
      width: 26px;
    }
  }

  .close-modal {
    background: url("/assets/close-icon.png") transparent no-repeat center center;
    background-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    height: 32px;
    width: 32px;
    z-index: 100;
  }
}

#mc_embed_signup {
  padding: 1em;
  position: relative;
  width: 100%;

  @media @tablet-desktop {
    padding: 3em 2em;
    width: 50%;
  }

  form {
    padding: 0 !important;
  }

  h2 {
    font-size: 1.75em;
    width: 80%;

    @media @tablet-desktop {
      width: 100%;
    }
  }

  .input-group {
    .clearfix();

    @media @tablet-desktop {
      margin-bottom: 0.5em;
    }

    ul li {
      float: left;
      width: 50%;
    }
  }


  .mc-field-group.input-group label {
    padding-left: 0.5em;
  }
}

.banner-image-container::after {
  content: "";
  position: absolute;
  width: 100%;
}

footer#footer {
  background-color: @darkest_blue;
}

footer {
  a,
  a:active,
  a:link,
  a:active,
  a:hover {
    font-family: 'sofia-pro';
    font-size: 1.25em;
    text-decoration: none;
    color: @light_blue !important;
  }

  .footer-inner {
    max-width: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: auto;
    width: 80% !important;
    .clearfix();

    @media @tablet-desktop {
      width: 90% !important;
    }
  }

  .footer-nav {
    .folder label{
      font-weight: 700;
    }
    @media @tablet {
      float: right;
      width: 75%;
      padding-top: 1em !important;
    }

    @media @desktop {
      float: right;
      width: 80%;
      padding-top: 1em !important;
    }
  }

  #footerBlocks {
    @media @tablet-desktop {
      float: left;
      width: 19%;
    }

    @media @tablet {
      margin-right: 2%;
    }

    .sqs-block-image .image-block-outer-wrapper:not(.image-block-v2) .intrinsic {
      margin: 0 !important;
    }
  }

  .folder {
    margin-bottom: 2em !important;

    @media @tablet {
      vertical-align: top !important;
      width: 45%;
    }

    @media @desktop {
      vertical-align: top !important;
      width: 24.5%;
    }
    label {
      text-align: left;
      padding-bottom: .7em !important;
    }
  }

  .subnav {
    background-color: transparent !important;
    height: auto !important;
    left: auto !important;
    padding: 0 !important;
    position: relative !important;
    text-align: left !important;
    transform: none !important;
    right: auto !important;
    max-height: none !important;

    &>div {
      opacity: 1 !important;

      a {
        padding: .3em 0 !important;
      }
    }
  }

  #secondaryNavigation {
    label {
      padding: 0 !important;
      padding-bottom: .7em !important;
    }
  }
}
