header {
  background: transparent !important;
  margin: auto;
  width: 95% !important;
}

#homeLogo {
  width: 60%;
  margin-left: 19%;
}

#homeLogoAudioPlayer {
  padding-top: 2%;

  .sqs-audio-embed {
    width: 60%;
    margin: auto;
    position: relative;

    @media @tablet {
      width: 50%;
    }

    @media @desktop {
      width: 30%;
    }

    &::before {
      content: "";
      border-top: 2px solid @white;
      left: -60px;
      margin-top: -1px;
      top: 50%;
      position: absolute;
      width: 40px;

      @media @tablet-desktop {
        left: -80px;
        width: 60px;
      }
    }

    &::after {
      content: "";
      border-top: 2px solid @white;
      right: -60px;
      margin-top: -1px;
      top: 50%;
      position: absolute;
      visibility: visible;
      width: 40px;

      @media @tablet-desktop {
        right: -80px;
        width: 60px;
      }
    }

    .action {
      background-color: #F9A052;
    }

    .labels {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .secondary-controls {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

#homeLogoSubtitle {
  width: 50%;
  margin: auto;
  padding-top: 2%;

  @media @tablet-desktop {
    width: 25%;
  }
}

.testimonials {

  .testimonial-item {
    position: relative;
    margin-bottom: 40px;
    .clearfix();

    .testimonial-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      z-index: 100;
    }

    .testimonial-image {
      float: right;
      opacity: .8;
    }
  }

  .content-body {
    p {
      font-size: 2.25em;
      margin: 0 0 .5em 0;
    }
  }

  .testimonial-author {
    font-size: .875em;
    margin: 0 0 0 0;
    line-height: initial;
  }

  .testimonial-twitter-handle {
    font-size: .75em;
    margin: 0 0 0 0;
    line-height: initial;
  }
}

#news-and-events-header {
  font-size: 2em;
}

.news-and-events-container {
  position: relative;
}

.news {
  float: left;
  width: 43%;
  padding-right: 4%;
  margin-left: 5%;
  border-right: 1px @orange solid;

  .news-item {
    height: 75%;
  }

  .news-image {
    float: left;
    .clearfix();
  }

  .news-content {
    float: right;
    .clearfix();

    .news-date {
      font-size: .66em;
      color: @orange;
      font-weight: bold;
    }

    .news-title {
      font-size: 1.5em;
    }

    .news-excerpt {
      font-size: .88em;
      font-family: 'Roboto';
    }
  }
}

.events {
  width: 45%;
  float: right;

  .event-item {
    height: 75%;
  }

  .event-image {
    float: left;
    .clearfix();
  }

  .event-content {
    float: right;
    .clearfix();
  }
}
