#homeLogo {
  width: 60%;
  margin-left: 20%;
}

#homeLogoAudioPlayer {
  padding-top: 2%;

  .sqs-audio-embed {
    width: 60%;
    margin: auto;
    position: relative;

    @media @tablet {
      width: 50%;
    }

    @media @desktop {
      width: 30%;
    }

    &::before {
      content: "";
      border-top: 2px solid @white;
      left: -60px;
      margin-top: -1px;
      top: 50%;
      position: absolute;
      width: 40px;

      @media @tablet-desktop {
        left: -80px;
        width: 60px;
      }
    }

    &::after {
      content: "";
      border-top: 2px solid @white;
      right: -60px;
      margin-top: -1px;
      top: 50%;
      position: absolute;
      visibility: visible;
      width: 40px;

      @media @tablet-desktop {
        right: -80px;
        width: 60px;
      }
    }

    .action {
      background-color: #F9A052;
    }

    .labels {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .secondary-controls {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

#homeLogoSubtitle {
  width: 50%;
  margin: auto;
  padding-top: 2%;

  @media @tablet-desktop {
    width: 25%;
  }
}

#content {
  max-width: 1020px;
  padding: 96px 32px;
}

.testimonials {

  .testimonial-item {
    position: relative;
    margin-bottom: 40px;
    outline: none;
    overflow: hidden;
    .clearfix();

    .testimonial-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      z-index: 100;

      @media @mobile {
        margin: 0 5%;
        width: 90%;
      }
    }

    .testimonial-image {
      float: right;
      opacity: .8;
    }
  }

  .content-body {
    p {
      font-size: 1.25em;
      margin: 0 0 .5em 0;
    }

    @media @tablet {
      p {
        font-size: 1.75em;
        margin: 0 0 .5em 0;
      }
    }

    @media @desktop {
      p {
        font-size: 2.25em;
        margin: 0 0 .5em 0;
      }
    }
  }

  .testimonial-author {
    font-size: .875em;
    margin: 0 0 0 0;
    line-height: initial;
  }

  .testimonial-twitter-handle {
    font-size: .75em;
    margin: 0 0 0 0;
    line-height: initial;
  }
}

#news-and-events-header {

  @media @tablet-desktop {
    margin-bottom: 1.75em;
  }
}

.news-and-events-container {
  margin-bottom: 8.5em;
  position: relative;
  .clearfix();

  .left-column {
    @media @tablet-desktop {
      border-right: 1px @light_blue solid;
      float: left;
      width: 50%;
    }
  }

  .right-column {
    @media @tablet-desktop {
      float: right;
      padding-left: 3%;
      width: 47%;
    }

    .news,
    .events {
      display: none;
    }
  }
}

.news {
  padding: 1em 3% 1em 0;
  width: 100%;

  @media @tablet-desktop {
    padding: 2.25em 3% 2.25em 0;
  }

  .news-item {
    .clearfix();
  }

  .news-image {
    float: left;
    margin-right: 6%;
    width: 41%;
  }

  .news-content {
    float: left;
    width: 53%;

    .news-date {
      color: @orange;
      font-family: 'Roboto';
      font-size: 0.75em;
      font-weight: 500;
      margin: -0.5em 0 0 0;
      text-transform: uppercase;

      @media @tablet-desktop {
        margin-bottom: 0.75em;
      }
    }

    .news-title {
      font-size: 1.25em;
      margin: 0 0 0.4375em 0;
    }

    .news-excerpt {
      font-size: 0.875em;
      font-family: 'Roboto';

      h1, h2, p {
        margin: 0 0 0.25em 0;
      }
    }
  }
}

.events {
  padding-top: 1em;
  width: 100%;

  @media @tablet-desktop {
    padding-top: 2.25em;
  }

  .event-item:not(:first-child) {
    display: none;
  }
  .event-item {
    .clearfix();
  }

  .event-date {
    float: left;
    margin-right: 6%;

    .cal-icon {
      background: url("/assets/calendar-icon.png") transparent no-repeat center center;
      background-size: 120px 128px;
      padding-top: 2em;
      height: 128px;
      width: 120px;

      @media @tablet {
        background-size: 90px 96px;
        padding-top: 1.5em;
        height: 96px;
        width: 90px;
      }
    }

    .event-month {
      font-size: 0.75em;
      font-weight: 700;
      line-height: initial;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      @media @tablet {
        font-size: 0.735em;
        margin: 0;
      }
    }

    .event-day {
      font-size: 2.875em;
      font-weight: 500;
      line-height: 1em;
      margin: -0.0625em 0 0 0;
      text-align: center;

      @media @tablet {
        font-size: 2em;
      }
    }
  }

  .event-content {
    float: left;
    width: 53%;

    .event-header {
      color: @orange;
      font-family: 'Roboto';
      font-size: 0.75em;
      font-weight: 500;
      margin: -0.5em 0 0 0;
      text-transform: uppercase;

      @media @tablet-desktop {
        margin-bottom: 0.75em;
      }
    }

    .event-title {
      font-size: 1.25em;
      margin: 0 0 0.4375em 0;
    }

    .event-location {
      font-size: 0.875em;
      font-family: 'Roboto';
      margin: 0;
    }

    .event-excerpt {
      font-size: 0.875em;
      font-family: 'Roboto';

      h1, h2, p {
        margin: 0 0 0.25em 0;
      }
    }
  }
}

.support-container {
  width: 85%;
  margin: auto;
  .clearfix();

  a,
  a:active,
  a:link,
  a:active,
  a:hover {
    text-decoration: none !important;
    color: @dark_blue !important;
  }

  .support-left-column {
    width: 50%;
    float: left;
    border-right: 1px @light_blue solid;
    padding: 3em 5% 3em 0;
    text-align: center;
    .clearfix();

    // Remove this, change field to markdown
    p:first-child {
      font-size: 2em;
      font-weight: medium;
    }

    p:nth-child(2) {
      font-family: roboto;
      font-weight: normal;
    }
  }

  .support-right-column {
    width: 50%;
    float: right;
    text-align: center;
    padding: 3em 0 3em 5%;
    .clearfix();


    p:first-child {
      font-size: 2em;
      font-weight: medium;
    }

    p:nth-child(2) {
      font-family: roboto;
      font-weight: normal;
    }
  }
}
