.entry-category {
  display: none;
}

.entry-actions,
.entry-comments,
.eventitem-addtocallinks,
.album-info .engagement,
.entry-dateline,
.entry-byline,
.entry-morefrom,
.entry-tags,
.entry-source,
.eventitem-backlink,
.sqs-audio-playlist
.tracks
.track-info
.artist,
.summary-info-item {
  color: @white !important;
}

.news-page .news-content {
  .clearfix();

  .left-column {
    margin-bottom: 2em;

    @media @tablet-desktop {
      float: left;
      margin-bottom: 0;
      padding-right: 7%;
      width: 70%;
    }
  }

  .right-column {
    @media @tablet-desktop {
      float: left;
      width: 30%;
    }
  }

  .section-headline {
    font-family: "sofia-pro";
    font-size: 1em;
    margin-bottom: 0.25em;
    text-align: left;

    @media @tablet-desktop {
      line-height: 1.49em;
      margin-bottom: 0.875em;
    }

    &#events-title,
    &#twitter-title {
      h1,
      h2,
      p {
        font-size: 1.375em;
      }
    }

    h1,
    h2,
    p {
      font-size: 2em;
    }
  }

  .news {
    @media @desktop {
      padding-top: 2.25em;
    }
  }

  .news-item {
    border-bottom: 2px solid @light_blue;
    margin-bottom: 1.5em;
    padding-bottom: 1.25em;

    &:nth-of-type(n+4) {
      display: none;
    }

    @media @tablet-desktop {
      margin-bottom: 2.875em;
      padding-bottom: 2.5em;
    }
  }

  .news-image {
    display: none;
  }

  .news-date {
    color: @orange;
    font-family: 'roboto';
    font-size: 0.667em;
    font-weight: 500;
    margin: -0.5em 0 0 0;
    text-transform: uppercase;

    @media @tablet-desktop {
      margin-bottom: 0.25em;
    }
  }

  .news-title {
    font-size: 1.555em;
    font-family: "sofia-pro";
    font-weight: 400;
    margin: 0 0 0.75em 0;
  }

  .news-excerpt {
    font-size: 1.333em;
    font-family: 'roboto';
    line-height: initial;

    h1, h2, p {
      margin: 0 0 0.25em 0;
    }

    a,
    a:active,
    a:link {
      text-decoration: none;
      color: @light_blue !important;
      .css3-transition(color, .325s);

      &:hover {
        color: @white !important;
        .css3-transition(color, .325s);
      }
    }
  }

  .read-more-button {
    a,
    a:active,
    a:link {
      text-decoration: none;
      color: @light_blue !important;
      .css3-transition(color, .325s);

      &:hover {
        color: @white !important;
        .css3-transition(color, .325s);
      }
    }
  }

  .load-more {
    text-transform: uppercase;
    color: @dark_blue;
    background-color: @white;
    border-radius: 6px;
    font-size: 0.8125em;
    font-family: 'roboto';
    font-weight: 700;
    letter-spacing: 2px;
    padding: 5px;
    display: block;
    text-align: center;
    outline: none;
    border: none;
    margin: auto;
    width: 320px;

    @media @tablet-desktop  {
      padding: 10px 20px;
    }
  }

  .events {
    padding-top: 1em;
    width: 100%;

    @media @tablet {
      padding-top: 0;
    }

    @media @desktop {
      padding-top: 2.25em;
      margin-bottom: 3.5em;
    }

    .event-item {
      margin-bottom: 1em;
      .clearfix();

      &:nth-of-type(n+3) {
        display: none;
      }
    }

    .event-date {
      float: left;
      margin-right: 6%;
      margin-bottom: 1em;

      @media @tablet {
        float: none;
        margin: 0 0 1em 0;
      }

      .cal-icon {
        background: url("/assets/calendar-icon.png") transparent no-repeat center center;
        background-size: 120px 128px;
        padding-top: 2em;
        height: 128px;
        width: 120px;

        @media @tablet {
          background-size: 90px 96px;
          padding-top: 1.5em;
          height: 96px;
          width: 90px;
        }
      }

      .event-month {
        font-size: 0.75em;
        font-weight: 700;
        line-height: initial;
        margin: 0;
        text-align: center;
        text-transform: uppercase;

        @media @tablet {
          font-size: 0.735em;
          margin: 0;
        }
      }

      .event-day {
        font-size: 2.875em;
        font-weight: 500;
        line-height: 1em;
        margin: -0.0625em 0 0 0;
        text-align: center;

        @media @tablet {
          font-size: 2em;
        }
      }
    }

    .event-content {
      float: left;
      width: 53%;

      @media @tablet {
        clear: left;
        width: 100%;
      }

      .event-header {
        color: @orange;
        font-family: 'roboto';
        font-size: 0.667em;
        font-weight: 500;
        margin: -0.5em 0 0 0;
        text-transform: uppercase;

        @media @desktop {
          margin-bottom: 0.75em;
        }
      }

      .event-title {
        font-size: 1.25em;
        margin: 0 0 0.4375em 0;

        @media @tablet {
          margin-bottom: 0.125em;
        }
      }

      .event-location {
        font-size: 0.875em;
        font-family: 'roboto';
        line-height: initial;
        margin: 0;
      }

      .event-excerpt {
        font-size: 0.875em;
        font-family: 'roboto';

        h1, h2, p {
          margin: 0 0 0.25em 0;
        }
      }
    }
  }

  .news-tweets {
    .tweet-list {
      .tweet {
        @media @tablet {
          margin-bottom: 1em;
        }
      }

      .tweet-avatar-wrapper {
        @media @tablet {
          float: none;
        }
      }

      .tweet-text-wrapper {
        @media @tablet {
          margin: 0;
        }
      }

      .tweet-from {
        margin: 0 0 0.25em 0 !important;

        a,
        a:active,
        a:link {
          color: @orange !important;
          font-size: 0.75em;
          font-family: "sofia-pro";
          letter-spacing: 0.175em;
          font-weight: 300;
          word-wrap: break-word;

          &:hover {
            color: @white !important;
            .css3-transition(color, .325s);
          }
        }
      }

      .tweet-text {
        font-family: "roboto";
        font-weight: 100;
        font-size: 1em;

        a,
        a:active,
        a:link {
          color: @light_blue !important;
          word-wrap: break-word;

          &:hover {
            color: @white !important;
            .css3-transition(color, .325s);
          }
        }
      }
    }
  }
}

.blog-item-wrapper {
  width: 70%;
  margin: auto;

  time {
    text-align: left;
    color: @orange !important;
    font-family: 'roboto' !important;
    font-size: .625em !important;
    font-weight: 700 !important;
    font-style: normal !important;
  }

  .post-title {
    text-align: left;
    font-family: 'sofia-pro';
    font-size: 2em;
    font-weight: 500;
  }
}

#siteWrapper.general {
  .news-event-page {
    background: none !important;
    background-size: 100%;
    background-color: @white !important;
    max-width: none !important;
    padding: 0 0 3em !important;

    @media @tablet-desktop {
      padding: 0 0 5em !important;
    }

    div.news-event-inner {
      margin: 0 auto;
      padding-top: 3em;
      width: 80% !important;
      background-color: @white !important;
      color: @blue !important;

      @media @tablet-desktop {
        width: 65% !important;
      }

      .sqs-simple-like {
        color: @blue;
        font-weight: 400;
      }

      .squarespace-social-buttons {
        color: @light_blue;
        font-weight: 400;
      }

      a,
      a:active,
      a:link,
      a:active,
      a:hover {
        font-family: 'roboto';
        font-size: 1em;
        font-weight: 400;
        text-decoration: none;
        color: @light_blue !important;
      }
    }
  }
}
