.header-container {
  display: flex;
}

.hosts-container {
  .hosts-image {
    display: inline-block;
  }

  .hosts-content {
    display: inline-block;
  }

  .hosts {
    display: block;
  }

  .hosts-title {
    display: block;
  }
}
