.header-container {
  display: flex;
}

.podcast-starter-episodes-container {
  width: 65%;
  margin: auto;

  .podcast-starter-episodes-header {
    text-align: center;
  }
}

.hosts-container {
  margin-left: 15%;

  .hosts-image {
    display: inline-block;
  }

  .hosts-content {
    display: inline-block;
    width: 60%;
  }

  .hosts {
    display: block;
  }

  .hosts-title {
    display: block;
  }
}
