#siteWrapper.sponsorship {
  background: url("/assets/radiotopia-stars-bg.png") transparent no-repeat top center;
  background-size: 100%;
  background-attachment: fixed;

  a.button,
  a.button:active,
  a.button:link,
  a.button:active,
  a.button:hover {
    text-decoration: none !important;
    text-transform: uppercase;
    color: @dark_blue !important;
    background-color: #FFF;
    border-radius: 6px;
    font-size: .75em;
    padding: 12px 30px;
    font-family: 'roboto';
    font-weight: 500;
    letter-spacing: 2px;
  }

  .sponsorship-banner-wrapper {
    position: relative;

    .smooth-scroll {
      font-size: 0.75em;
      display: block;
      text-transform: uppercase;
      margin-top: 1em;
      position: relative;
      margin: 0 auto;

      @media @tablet-desktop {
        margin: 0 20px 0 0;
      }

      &::after {
        content: "";
        background: url("/assets/scroll-arrow.png") transparent no-repeat center center;
        background-size: 14px;
        height: 14px;
        width: 14px;
        position: absolute;
        right: -20px;
        top: 50%;
        margin-top: -7px;
      }
    }

    .sponsorship-headline-wrapper {
      @media @tablet-desktop {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        position: absolute;
        top: 0;
      }
    }

    .sponsorship-banner-image {
      img {
        display: block;
        width: 100%;
        opacity: .3;
      }
    }

    .sponsorship-headline {
      h2 {
        width: 76.5%;
        margin: auto;
        margin-bottom: 1em;
        font-size: 1.125em;
        text-transform: none !important;
        letter-spacing: 1px;
        text-align: center;

        @media @tablet-desktop {
          font-size: 2.25em;
        }
      }
    }
  }

  #page {
    max-width: none !important;
    padding: 0 !important;

    &>.inner {
      padding: 150px 0 !important;

      h2 {
        color: @orange !important;
        font-size: 1.25em;
        font-family: "sofia-pro";
        font-weight: 500;
        text-transform: initial;
        text-align: center;

        @media @tablet-desktop {
          font-size: 2em;
        }
      }

      p {
        font-family: "sofia-pro";
        font-size: 0.75em;
        line-height: initial;
        margin: 0;

        @media @tablet-desktop {
          font-size: 1em;
        }
      }

      .caption-wrapper p {
        font-family: "sofia-pro";
        font-size: 0.675em;
        color: @light_blue;
      }
    }

    .section-1-wrapper {
      margin-bottom: 1em;

      @media @tablet-desktop {
        align-items: center;
        display: flex;
        margin-bottom: 3em;
      }

      .section-1-image-wrapper {
        padding-right: 6%;

        @media @tablet-desktop {
          width: 45%;
        }
      }

      .section-1-text-wrapper {
        margin: auto;
        width: 80%;

        @media @tablet-desktop {
          width: 50%;
        }

        h2 {
          text-align: left;

          @media @tablet-desktop {
            margin-bottom: 0.625em;
            text-align: left;
          }
        }
      }
    }

    .section-2-wrapper {
      margin: 0 auto 11em;
      width: 80%;

      @media @tablet-desktop {
        width: 70%;
      }

      .section-2-text-wrapper {
        margin-bottom: 1em;

        @media @tablet-desktop {
          margin-bottom: 4.5em;
        }

        h2 {
          margin-bottom: 0.75em;

          @media @tablet-desktop {
            text-align: center;
          }
        }

        p {
          @media @tablet-desktop {
            margin: auto;
            width: 75%;
          }
        }
      }

      .section-2-image-wrapper {
        margin-bottom: 1em;

        @media @tablet-desktop {
          margin-bottom: 2.2em;
        }

        .sqs-block {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      .section-2-caption-wrapper {
        .sqs-block {
          padding-top: 0 !important;
          padding-bottom: 0 !important;
        }

        p {
          text-align: center;
        }
      }
    }

    .section-3-wrapper {
      width: 95%;
      margin: 0 auto 13em;
      .clearfix();

      .section-3-left-column-wrapper {
        float: left;
        width: 36%;
        margin-right: 5%;
      }

      .section-3-right-column-wrapper {
        float: left;
        width: 54%;

        h2 {
          width: 85%%;
          text-align: left;
        }

        p {
          width: 85%;
        }
      }
    }

    .section-4-wrapper {
      margin-bottom: 12em;

      .section-4-text-wrapper {
        h2 {
          width: 69%;
          margin: 0 auto .8em;
        }

        p {
          width: 57%;
          margin: 0 auto 4.5em;
        }
      }

      .section-4-image-wrapper {
        width: 65%;
        margin: 0 auto 1em;
      }
    }

    .section-5-wrapper {
      margin: 0 auto 8.2em;
      width: 90%;

      @media @tablet-desktop {
        width: 85%;
      }

      .section-5-text-wrapper {
        margin: 0 auto 1em;

        @media @tablet-desktop {
          margin: 0 auto 6em;
        }

        h2 {
          margin: 0 auto .5em;
          width: 96%;
        }

        p {
          margin: auto;

          @media @tablet {
            width: 80%;
          }

          @media @desktop {
            width: 64%;
          }
        }
      }

      .section-5-image-wrapper {

        @media @tablet-desktop {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 auto 1em;
        }

        .section-5-image-1-wrapper {

          @media @tablet-desktop {
            width: 38.5%;
            margin-bottom: 6.4em;
            margin-right: 10.6%;
            margin-left: 3%;
          }
        }

        .section-5-image-2-wrapper {

          @media @tablet-desktop {
            width: 47%;
            margin-bottom: 4em;
          }
        }

        .section-5-image-3-wrapper {

          @media @tablet-desktop {
            width: 42%;
            margin-bottom: 1em;
            margin-right: 8.2%;
            margin-left: 2.5%;
          }
        }

        .section-5-image-4-wrapper {

          @media @tablet-desktop {
            width: 44.2%;
            margin-bottom: 1em;
          }
        }
      }

      .section-5-caption-wrapper {
        p {
          @media @tablet-desktop {
            width: 55%;
            margin: 0 auto 2em;
            text-align: center;
          }
        }
      }
    }

    .section-6-wrapper {
      display: flex;
      align-items: center;
      margin: 0 auto 1em;
      width: 92.5%;
      .clearfix();

      @media @tablet-desktop {
        margin: 0 auto 10.3em;
      }

      .section-6-left-column {
        float: left;
        width: 43%;
        margin-left: 10.3%;
        margin-right: 4%;

        .sqs-block {
          padding: 0 !important;
        }

        h2 {
          text-align: left;
        }

        p {
          margin-bottom: 1em;
        }
      }

      .section-6-right-column {
        float: left;
        width: 40%;
      }
    }

    .section-7-wrapper {
      margin: auto;
      width: 90%;

      @media @tablet-desktop {
        width: 85%;
      }

      .section-7-text-wrapper {
        width: 90%;
        margin: auto;
        margin-bottom: 1em;
        text-align: center;

        @media @tablet-desktop {
          margin-bottom: 7.2em;
        }
      }

      .section-7-image-wrapper {
        width: 80%;
        margin: auto;

        @media @tablet-desktop {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 91%;
        }

        .sqs-block {
          padding-top: 0 !important;
        }

        h1 {
          font-size: 2.5em;
          font-family: "sofia-pro";
          font-weight: 500;
          text-align: center;
          line-height: 1em;
          margin-bottom: 0;

          @media @tablet-desktop {
            font-size: 4em;
          }
        }

        p {
          text-align: center;
          font-size: 1.125em;
          font-weight: 400;

          @media @tablet-desktop {
            font-size: 1.33em;
          }
        }

        .section-7-image-1-wrapper {
          margin-bottom: 2em;

          @media @tablet-desktop {
            width: 29%;
            margin-right: 19%;
            margin-bottom: 4.5em;
          }

          #section-7-image-1 {
            width: 34%;
            margin: 0 auto .7em;
          }
        }

        .section-7-image-2-wrapper {
          @media @tablet-desktop {
            width: 31%;
          }

          #section-7-image-2 {
            width: 48%;
            margin: 0 auto 1em;
          }
        }

        .section-7-image-3-wrapper {
          @media @tablet-desktop {
            margin-left: 16%;
            width: 29%;
          }

          #section-7-image-3 {
            width: 22%;
            margin: 0 auto 0.4em;
          }
        }

        .section-7-image-4-wrapper {
          margin-bottom: 1em;

          @media @tablet-desktop {
            margin-left: 19%;
            margin-bottom: 2.3em;
            width: 36%;
          }

          #section-7-image-4 {
            width: 31%;
            margin: 0 auto .4em;
          }
        }
      }

      #section-7-caption p {
        margin: 0 auto 1em;
        text-align: center;
        font-family: "sofia-pro";
        font-size: 0.675em;
        color: @light_blue;

        @media @tablet-desktop {
          margin: 0 auto 15em;
        }
      }
    }

    .section-8-wrapper {
      width: 80%;
      margin: 0 auto 6em;

      .section-8-text-wrapper {
        width: 88.5%;
        margin: 0 auto 4em;
      }

      .section-8-image-wrapper {
        margin: auto;
      }
    }

    .section-9-bottom-banner {
      margin-bottom: 2em;
      position: relative;

      .bottom-banner-text-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

      .bottom-banner-icon-wrapper {
        max-width: 100px;
        margin: 0 auto 1.75em;
      }

      #bottom-banner-text-block {
        margin-bottom: 2.5em;

        p {
          font-size: 2em;
          font-weight: 500;
          line-height: 1.2em;
        }
      }

      .button {
        display: inline-block;
        max-width: 25em;
        width: 100%;
      }
    }

    #podcasts-grid-header h2 {
      text-align: center;
      margin-bottom: 2.375em;
    }

    .sponsorship-page-podcasts {
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 600px;
      width: 80%;

      @media @desktop {
        max-width: 1280px;
        width: 85%;
      }

      .podcast-item {
        margin-bottom: 2em;
        width: 100%;

        @media @desktop {
          margin-bottom: 5%;
          width: 47%;
        }

        &:nth-child(odd) {

          @media @desktop {
            margin-right: 5.6%;
          }
        }

        .podcast-wrapper {
          .left-column {
            width: 39%;
            position: relative;

            .podcast-art-wrapper {
              padding-top: 10%;
              position: absolute;
              z-index: 1;

              img {
                width: 100%;
              }
            }
          }

          .right-column {
            position: relative;
            width: 80%;
            border: solid 3px white;
            margin-left: 19%;
            padding: 2.8em 1.25em 1em 24%;

            .offset-box {
              position: absolute;
              top: 10px;
              left: 10px;
              height: 100%;
              width: 100%;
              opacity: .08;
              background-color: white;
              z-index: -1;
            }

            .podcast-host-image-wrapper {
              width: 90px;
              display: inline-block;

              img {
                width: 100%;
              }
            }

            h2.podcast-title {
              color: @orange !important;
              font-size: .80em;
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: .05em;
              margin-bottom: .25em;
            }

            p.podcast-host {
              font-size: .88em;
              font-weight: 400;
              margin: 0 0 0 0;
            }

            .sponsorship-links {
              a,
              a:active,
              a:link,
              a:active,
              a:hover {
                text-decoration: none !important;
                color: @light_blue !important;
                font-size: .88em;
                font-family: 'roboto';
                font-weight: 400;
                display: block;
                line-height: initial;

                @media @tablet-desktop {
                  display: inline-block;
                  line-height: .9em;
                }

                &:first-child {
                  @media @tablet-desktop {
                    border-right: 1px white solid;
                    padding-right: .75em;
                    margin-right: .75em;
                  }

                }
              }

              margin-bottom: .5em;
            }
          }
        }
      }

      .sqs-audio-embed {
        margin: auto;
        position: relative;

        .sqs-widgets-audio-player.dark {
          background: rgba(0,0,0,.05);
        }

        .action {
          background-color: #F9A052;
        }

        .labels {
          background-color: rgba(255, 255, 255, 0.3);
          font-family: "sofia-pro";
          font-size: .875em;
        }

        .secondary-controls {
          background-color: rgba(255, 255, 255, 0.3);
          font-family: "sofia-pro";
          font-size: .875em;
          vertical-align: bottom;
        }
      }
    }
  }
}
