#siteWrapper.sponsorship {
  .banner-thumbnail-wrapper {
    padding: 0;

    #thumbnail {
      position: static;

      img {
        display: block;
        width: 100%;
        opacity: .3;
      }
    }
  }

  #page {
    background: url("/assets/radiotopia-stars-bg.png") transparent no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
    max-width: none !important;
    padding: 50px 0 !important;

    &>.inner {
      margin: 0 auto;
      width: 80% !important;

      @media @tablet-desktop {
        width: 90% !important;
      }
    }
  }

}
