#siteWrapper.sponsorship-contact {
  overflow: hidden;

  #page {
    background: url("/assets/radiotopia-stars-bg.png") transparent no-repeat top center;
    background-size: 100%;
    background-attachment: fixed;
    max-width: none !important;
    padding: 110px 0 0 !important;
    margin-bottom: 1em;

    @media @tablet-desktop {
      padding: 143px 0 0 !important;
      margin-bottom: 2em;
    }

    a,
    a:active,
    a:link,
    a:active,
    a:hover {
      font-family: 'roboto';
      font-weight: 300;
      text-decoration: none;
      color: @light_blue !important;
    }
  }
}
