/*
  Colors
*/
@red: #ff0000;
@black: #000;
@gray: #7d7d7d;
@white: #fff;
@blue: #1C304C;
@light_blue: #789DA6;
@med_blue: #2B4760;
@dark_blue: #1D314D;
@darkest_blue: #0F1C30;
@legend_blue: #5084A7;
@orange: #F9A052;


/*
  Base sizing
*/
@font_base: 16px;

/*
  Defaults
*/
@bg_color: #fff;
@main_text_color: @black;

@a_link: @white;
@a_visited: @white;
@a_hover: @red;


/*
  Mixins
*/
.css3-transition(@attr, @duration) {
  transition: @attr @duration ease-in-out;
  -moz-transition: @attr @duration ease-in-out;
  -webkit-transition: @attr @duration ease-in-out;
}

.clearfix {
  &:before,
  &:after {
    content:"";
    display: table;
  }
  &:after { clear:both; }
  & { *zoom:1; }
}

.allcaps(@tracking) {
  text-transform: uppercase;
  letter-spacing: @tracking;
}

.gradient-background {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%) !important;
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%) !important;
  background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%) !important;
}

/*
  ==========
  Fonts.com
  ==========

*/


/*
  Breakpoint mixin
*/
@mobile: ~"only screen and (max-width: 640px)";
@small-mobile: ~"only screen and (max-width: 640px) and (max-height: 540px)";
@tablet-desktop: ~"only screen and (min-width: 640px)";
@tablet: ~"only screen and (min-width: 640px) and (max-width: 1170px)";
@desktop: ~"only screen and (min-width: 1171px)";
